@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(10px) scale(0.95);
    color: #555;
    text-shadow: 0 0 0px rgba(0, 0, 0, 0);
  }
  5% {
    opacity: 1;
    transform: translateX(-50%) translateY(0) scale(1);
    color: #000;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }
  50% {
    opacity: 1;
    color: #222;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  }
  80% {
    opacity: 1;
    transform: translateX(-50%) translateY(0) scale(1);
    color: #000;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px) scale(0.95);
    color: #555;
    text-shadow: 0 0 0px rgba(0, 0, 0, 0);
  }
}

@keyframes fadeInOutTop {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px) scale(0.95);
    color: #555;
    text-shadow: 0 0 0px rgba(0, 0, 0, 0);
  }
  5% {
    opacity: 1;
    transform: translateX(-50%) translateY(0) scale(1);
    color: #000;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }
  50% {
    opacity: 1;
    color: #222;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  }
  80% {
    opacity: 1;
    transform: translateX(-50%) translateY(0) scale(1);
    color: #000;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px) scale(0.95);
    color: #555;
    text-shadow: 0 0 0px rgba(0, 0, 0, 0);
  }
}

@keyframes fadeInStay {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(10px) scale(0.95);
    color: #555;
  }
  5% {
    opacity: 1;
    transform: translateX(-50%) translateY(0) scale(1);
    color: #000;
  }
  100% {
    opacity: 1; /* stay visible */
    transform: translateX(-50%) translateY(0) scale(1);
    color: #000;
  }
}

@keyframes fadeOutAI {
  0% {
    opacity: 1;
    transform: translateX(-50%) translateY(0) scale(1);
    color: #000;
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px) scale(0.95);
    color: #555;
  }
}

@keyframes blinkDots {
  0%,
  20% {
    content: "";
  }
  40% {
    content: ".";
  }
  60% {
    content: "..";
  }
  80%,
  100% {
    content: "...";
  }
}

/* mouse click */
@keyframes ripple {
  from {
    transform: translate(-50%, -50%) scale(6);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}

.loading::after {
  content: "";
  animation: blinkDots 1s steps(1, end) infinite;
}

.animate-text {
  animation: fadeInOut 1.2s forwards;
}

.animate-text-ai {
  animation: fadeInStay 1.2s forwards;
}

.animate-text-ai-fade-out {
  animation: fadeOutAI 1.2s forwards;
}
