<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>three-vrm example</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <style>
      body {
        width: auto !important;
        height: 600px !important;
        position: absolute;
        right: -200px;
        bottom: 0;
        margin-right: 0;
      }
      .hidden {
        display: none !important;
      }

      #chatSubmit,
      .styled-input {
        pointer-events: auto !important;
      }

      canvas {
        width: auto !important;
        height: 600px !important;
        z-index: -9999;
      }
    </style>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <div class="canvas-wrap"></div>

  <body>
    <input
      type="text"
      class="styled-input hidden interactive"
      placeholder="Type something..."
    />

    <div id="chatSubmit" class="hidden interactive">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="white"
        viewBox="0 0 24 24"
      >
        <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" />
      </svg>
    </div>

    <div id="text_container">
      <span id="text_span"></span>
    </div>

    <div id="ollama-text-debug"></div>

    <script type="importmap">
      {
        "imports": {
          "fflate": "https://cdn.jsdelivr.net/npm/fflate@0.7.4/esm/browser.js",
          "three": "https://cdn.jsdelivr.net/npm/three@0.180.0/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.180.0/examples/jsm/",
          "@pixiv/three-vrm": "https://cdn.jsdelivr.net/npm/@pixiv/three-vrm@3.4.4/lib/three-vrm.module.js"
        }
      }
    </script>

    <script
      id="main-script"
      type="module"
      src="{{ url_for('static', filename='scripts/main.js') }}"
      data-overlay="true"
    ></script>
  </body>

  <script>
    const { ipcRenderer } = require("electron");

    ipcRenderer.on("toggle-visibility", () => {
      const input = document.querySelector(".styled-input");
      const chatSubmit = document.getElementById("chatSubmit");

      input.classList.toggle("hidden");
      chatSubmit.classList.toggle("hidden");

      if (!input.classList.contains("hidden")) {
        input.focus();
      }
    });

    // Get all interactive elements
    const interactiveElements = document.querySelectorAll(".interactive");

    interactiveElements.forEach((element) => {
      element.addEventListener("mouseenter", () => {
        // Allow mouse events when hovering over buttons
        ipcRenderer.send("set-ignore-mouse-events", false);
      });

      element.addEventListener("mouseleave", () => {
        // Ignore mouse events when leaving buttons
        ipcRenderer.send("set-ignore-mouse-events", true, { forward: true });
      });
    });
  </script>
</html>
