.window {
  background-color: white;
  width: clamp(300px, 80%, 1200px);
  height: clamp(200px, 85%, 800px);
  position: absolute;
  top: 46%;
  box-sizing: border-box;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  left: 50%;
  transform: translate(-50%, -50%);
}
